<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(200, 200, 200)">
  <ion-slides>
    <!-- Would use an ngFor here, but for demo purposes, I need slide 2 to have HTML inputs -->
    <ion-slide *ngIf="slides[0]; let slide">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{slide.title}}
          </ion-card-title>
          <p>{{slide.message}}</p>

          <form [formGroup]="slide.form">
            <ion-item *ngFor="let input of slide.inputs">
              <ng-container [ngSwitch]="input.type">
                <ng-container *ngSwitchCase="'select'">
                  <ion-label floating>{{input.label}}</ion-label>
                  <ion-select [formControlName]="input.name">
                    <ion-option *ngFor="let option of input.options" [value]="option.value">{{option.label}}</ion-option>
                  </ion-select>
                </ng-container>

                <ng-container *ngSwitchCase="'range'">
                  <ion-label>{{input.label}}</ion-label>
                  <ion-range [formControlName]="input.name"></ion-range>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <ion-label floating>{{input.label}}</ion-label>
                  <ion-input [type]="input.type" [formControlName]="input.name">
                  </ion-input>
                </ng-container>
              </ng-container>
            </ion-item>
          </form>

          <p>There should be inputs visible above this line</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!-- Slide 1 again, but without the `ion-input`s -->
    <ion-slide *ngIf="slides[0]; let slide">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{slide.title}}: Electric Boogaloo
          </ion-card-title>
          <p>This version of slide 1 just has <code>ion-label</code>s</p>
          <p>{{slide.message}}</p>

          <form [formGroup]="slide.form">
            <ion-item *ngFor="let input of slide.inputs">
              <ng-container [ngSwitch]="input.type">
                <ng-container *ngSwitchCase="'select'">
                  <ion-label>{{input.label}}</ion-label>
                  {{input.name}}
                </ng-container>

                <ng-container *ngSwitchCase="'range'">
                  <ion-label>{{input.label}}</ion-label>
                  {{input.name}}
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <ion-label>{{input.label}}</ion-label>
                  {{input.name}}
                </ng-container>
              </ng-container>
            </ion-item>
          </form>

          <p>There should be labels visible above this line</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!-- Slide 1 again, but without the `ion-card`s -->
    <ion-slide *ngIf="slides[0]; let slide">
      <h3>
        {{slide.title}}: Electric Boogaloo
      </h3>
      <p>This version of slide 1 doesn't use an <code>ion-card</code></p>
      <p>{{slide.message}}</p>

      <form [formGroup]="slide.form">
        <ion-item *ngFor="let input of slide.inputs">
          <ng-container [ngSwitch]="input.type">
            <ng-container *ngSwitchCase="'select'">
              <ion-label>{{input.label}}</ion-label>
              {{input.name}}
            </ng-container>

            <ng-container *ngSwitchCase="'range'">
              <ion-label>{{input.label}}</ion-label>
              {{input.name}}
            </ng-container>

            <ng-container *ngSwitchDefault>
              <ion-label>{{input.label}}</ion-label>
              {{input.name}}
            </ng-container>
          </ng-container>
        </ion-item>
      </form>

      <p>There should be labels visible above this line</p>
    </ion-slide>

    <!-- Slide 1 again, but without the `ion-label`s -->
    <ion-slide *ngIf="slides[0]; let slide">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{slide.title}}: Electric Boogaloo
          </ion-card-title>
          <p>This version of slide 1 just has <code>ion-input</code>s</p>
          <p>{{slide.message}}</p>

          <form [formGroup]="slide.form">
            <ion-item *ngFor="let input of slide.inputs">
              <ng-container [ngSwitch]="input.type">
                <ng-container *ngSwitchCase="'select'">
                  <ion-select [formControlName]="input.name">
                    <ion-option *ngFor="let option of input.options" [value]="option.value">{{option.label}}</ion-option>
                  </ion-select>
                </ng-container>

                <ng-container *ngSwitchCase="'range'">
                  <ion-range [formControlName]="input.name"></ion-range>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <ion-input [type]="input.type" [formControlName]="input.name">
                  </ion-input>
                </ng-container>
              </ng-container>
            </ion-item>
          </form>

          <p>There should be inputs visible above this line</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!-- Slide 1 again, but without the `ngSwitch` -->
    <ion-slide *ngIf="slides[0]; let slide">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{slide.title}}: Electric Boogaloo
          </ion-card-title>
          <p>This version of slide 1 doesn't use a <code>ngSwitch</code></p>
          <p>{{slide.message}}</p>

          <form [formGroup]="slide.form">
            <ion-item *ngFor="let input of slide.inputs">
              <ion-label floating>{{input.label}}</ion-label>
              <ion-input [type]="input.type" [formControlName]="input.name"></ion-input>
            </ion-item>
          </form>

          <p>There should be inputs visible above this line</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>


    <!-- Slide 1 again, but with the `ngIf` instead of `ngSwitch` -->
    <ion-slide *ngIf="slides[0]; let slide">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{slide.title}}: Electric Boogaloo
          </ion-card-title>
          <p>This version of slide 1 uses <code>ngIf</code> instead of <code>ngSwitch</code></p>
          <p>{{slide.message}}</p>

          <form [formGroup]="slide.form">
            <ion-item *ngFor="let input of slide.inputs">
              <ng-container *ngIf="input.type === 'select'">
                <ion-select [formControlName]="input.name">
                  <ion-option *ngFor="let option of input.options" [value]="option.value">{{option.label}}</ion-option>
                </ion-select>
              </ng-container>

              <ng-container *ngIf="input.type === 'range'">
                <ion-range [formControlName]="input.name"></ion-range>
              </ng-container>

              <ng-container *ngIf="input.type !== 'select' && input.type !== 'range'">
                <ion-input [type]="input.type" [formControlName]="input.name">
                </ion-input>
              </ng-container>
            </ion-item>
          </form>

          <p>There should be inputs visible above this line</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!-- Slide 2, with HTML inputs instead of Ion inputs -->
    <ion-slide *ngIf="slides[1]; let slide">
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            {{slide.title}}
          </ion-card-title>
          <p>Slide 2 uses HTML inputs instead of Ion inputs</p>
          <p>{{slide.message}}</p>

          <form [formGroup]="slide.form">
            <ion-item *ngFor="let input of slide.inputs">
              <ng-container [ngSwitch]="input.type">
                <ng-container *ngSwitchCase="'select'">
                  <label>{{input.label}}</label>
                  <select [formControlName]="input.name">
                    <option *ngFor="let option of input.options" [value]="option.value">{{option.label}}</option>
                  </select>
                </ng-container>

                <ng-container *ngSwitchCase="'range'">
                  <label>{{input.label}}</label>
                  <input [type]="input.type" [formControlName]="input.name">
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <label>{{input.label}}</label>
                  <input [type]="input.type" [formControlName]="input.name">
                </ng-container>
              </ng-container>
            </ion-item>
          </form>
        </ion-card-content>

        <p>There should be inputs visible above this line</p>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
